* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: #333;
}

h2 a {
    text-decoration: none;
    color: black;
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

.login {
    position: relative;
    width: 360px;
    padding: 35px 10px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    color: #3a457c;
    font-size: 22px;
}

.login>a:nth-of-type(1) {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

.login .formLogin, .login .formRegistro {
    width: 250px;
    display: grid;
    row-gap: 10px;
    text-align: center;
}

.login .field>input {
    border-radius: 3px;
    outline: 0;
}

.login .btns{
    margin: 10px 0;
}

.login .btns>input, .login form div>a {
    width: 110px;
    height: 37px;
    padding: 10px;
    background-color: #3a457c;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.btn {
    width: 100px;
    height: 40px;
    padding: 20px auto;
    color: white;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.tomato {
    background-color: tomato;
}

.acqua {
    background-color: cornflowerblue;
}

.login .formRegistro {
    display: none;
}

.notify {
    background-color: white;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

.error {
    color: red;
}

.success {
    color: green;
}

.box{
    width: 250px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border: 1px solid #ccc;
}

.box .conta-usuario{
    margin: 10px;
}

.box hr{
    border: 0;
    border-top: 2px dotted tomato;
}

body{
    display: flex;
    flex-direction: row-reverse;
}

main{
    width: 100%;
    background-color: #f9fbe7;
}

main .conteudo{
    height: calc(100vh - 50px);
    overflow-y: auto;
}

header{
    height: 50px;
    background-color: #66bb6a;
    position: relative;
}

header a{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    display: grid;
    place-items: center;
}

aside{
    width: 300px;
    background-color: #388e3c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: white;
    cursor: default;
}

aside h3{
    font-size:  18px;
    margin: 10px 0;
}
aside .menu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu ul{
    list-style: none;
}

.menu a{
    color: white;
    transition: .4s;
}

.menu a:hover{
    color: purple;
}



