* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    scrollbar-width: thin;
}

html, body {
    height: 100%;
}

.erro404 {
    width: 100%;
    padding: 40px 10px;
    display: grid;
    place-items: center;
}

.erro404 h2 {
    text-align: center;
    font-size: 52px
}

.erro404 p {
    font-size: 32px;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: #333;
    position: fixed;
}

.aviso {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #3a457c;
    padding: 80px 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.aviso span {
    color: red;
}

h4 {
    font-size: 24px;
}

/* Login Page */

.login {
    position: relative;
    width: 360px;
    padding: 35px 10px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    color: #3a457c;
    font-size: 22px;
}

.login>a:nth-of-type(1) {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
}

.login .formLogin, .login .formRegistro {
    width: 250px;
    display: grid;
    row-gap: 10px;
    text-align: center;
}

.login .field>input {
    border-radius: 3px;
    outline: 0;
}

.login .btns {
    margin: 10px 0;
}

.login .btns>input, .login form div>a {
    width: 110px;
    height: 37px;
    padding: 10px;
    background-color: #3a457c;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.btn {
    width: 100px;
    height: 40px;
    padding: 20px auto;
    color: white;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    display: grid;
    place-items: center;
    font-size: 16px;
}

input#senha{
    padding-right: 34px;
}

.pass-login{
    position: absolute;
    right: 60px;
    bottom: 104px;
    cursor: pointer;
}

.pass-login-invisivel{
    display: none;
}

input#regSenha{
    padding-right: 34px;
}

.pass-registro{
    position: absolute;
    right: 60px;
    bottom: 148px;
    cursor: pointer;
}

.pass-registro-invisivel{
    display: none;
}

input#confRegSenha{
    padding-right: 34px;
}

.pass-confRegistro{
    position: absolute;
    right: 60px;
    bottom: 104px;
    cursor: pointer;
}

.pass-confRegistro-invisivel{
    display: none;
}

.tomato {
    background-color: tomato;
}

.acqua {
    background-color: cornflowerblue;
}

.gold {
    background-color: gold;
}

.seagreen {
    background-color: seagreen;
}

.white{
    background-color: white !important;
}

.login .formRegistro {
    display: none;
}

.notify {
    background-color: white;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.error {
    color: red;
}

.success {
    color: green;
}

.box {
    width: 250px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border: 1px solid #ccc;
}

.box .conta-usuario {
    margin: 10px;
}

.box hr {
    border: 0;
    border-top: 2px dotted tomato;
}

/* Main Page */

.main-page {
    display: flex;
    flex-direction: row-reverse;
}

main {
    position: relative;
    width: calc(100% - 20px);
    background-color: #efeefc;
}

main .conteudo {
    height: calc(100vh - 50px);
    overflow-y: auto;
    padding: 20px 20px 30px 40px;
}

header {
    height: 50px;
    background-color: #5260a5;
    position: relative;
}

header a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    display: grid;
    place-items: center;
}

aside {
    position: fixed;
    top: 0;
    left: -230px;
    width: 260px;
    height: 100%;
    background-color: #3a457c;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    cursor: default;
}

aside #openClose {
    position: absolute;
    right: -25px;
    top: 25%;
    width: 50px;
    height: 50px;
    transform: rotate(-45deg);
    background-color: #3a457c;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

aside .dados-login {
    position: absolute;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside .img-perfil {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

aside .img-perfil img {
    border-radius: 50%;
    width: 100%;
}

aside p{
    margin-top: 10px;
}

aside h3 {
    font-size: 18px;
    text-align: center;
}

aside .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;
    position: relative;
    transition: .4s;
}

.menu li:last-child {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.menu li:hover {
    background-color: #293157;
}

.menu i{
    position: absolute;
    right: 8px;
}

.menu a {
    text-align: center;
    width: 100%;
    padding: 10px;
    color: white;
    transition: .4s;
}

.menu a:hover {
    color: yellow;
}

.dados-pessoais{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.artigo-painel {
    width: 100%;
    margin-bottom: 25px;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 0px 10px #bbb;
    background-color: #f9f8ff;
}

.acessos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    row-gap: 10px;
    padding: 10px;
}

.box-acesso {
    width: 32%;
    height: 100px;
    padding: 5px;
}

.box-acesso h5, .box-acesso p {
    color: white;
}

.box-acesso p {
    margin-top: 10px;
    text-align: center;
    font-size: 46px;
}

.tabela-painel{
    overflow-x: scroll;
}

.tabela-painel table{
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
    margin-top: 10px;
}

.tabela-painel tr {
    text-align: left;
}

.tabela-painel th{
    background-color: rgb(51, 133, 255);
    color: white;
}

.tabela-painel th, .tabela-painel td {
    width: 33%;
    padding: 5px;
    border-collapse: collapse;
    border-bottom: 1px solid #ccc;
}

.editar-dados{
    display: flex;
    justify-content: center;
}

.editar-dados form{
    width: 450px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.editar-dados .btns{
    display: flex;
    column-gap: 10px;
    justify-content: center;
}

.field select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


@media screen and (max-width: 768px) {

    main {
        width: calc(100% - 20px) !important;
    }

}

@media screen and (max-width: 450px) {

    .acessos {
        flex-direction: column;
    }

    .box-acesso {
        width: 100%;
    }

    .dados-pessoais{
        flex-direction: column;
        row-gap: 20px;
    }

}