.map{
    width: 100%;
    height: 400px;
}

.map iframe{
    width: 100%;
    height: 100%;
}

.contato{
    width: 100%;
    padding: 20px;
    display: grid;
    place-items: center;
}

.contato form{
    border-radius: 20px;
    background-color: #eee;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.contato input, .contato textarea{
    font-size: 14px;
    width: 250px;
    padding: 10px 15px;
    resize: none;
    position: relative;
}

.mensagem{
    position: relative;
}

.contador{
    position: absolute;
    bottom: 2px;
    right: 2px;
    color: #888;
}

.input{
    position: relative;
}

.info-erro{
    position: absolute;
    right: -165px;
    top: 0;
    font-size: 10px;
    color: white;
    width: 150px;
    padding: 10px 20px;
    background-color: #888;
    border: 1px solid #c445;
    border-radius: 5px;
}

@media screen and (max-width: 500px){
    .info-erro{
        right: auto;
        left: 5px;
        top: -40px;
    }
}
